body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
}

.map {
  max-width: 50vw;
  width: 50vw;
  margin: 0;
  text-align: center;
  float: left;
}
.objects {
  max-width: 50vw;
  float: left;
  width: 50vw;
  padding: 1em;
}

.available {
  background-color: rgb(202, 240, 255);
}

.unavailable {
  background-color: rgb(1, 91, 133) !important;
  color: rgb(1, 91, 133) !important;
}

.row-cells {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin: 0 auto;
}

#admittance-text-summary {
  text-align: center;
}

#admittance-text-summary p {
  margin: 0;
  margin-top: -1em;
}

#admittance-text-summary strong {
  font-size: 3em;
  font-weight: bolder;
  color: rgb(1, 91, 133);
}

.cells-container {
  width: 100%;
  height: min(100vw, 100%);
  overflow: scroll;
}
.cells-container::-webkit-scrollbar {
  display: none;
}

#calculate-layout {
  margin: 1em 8%;
}

#new-object-name {
  width: 100%;
}

.quantity-input input {
  max-width: 4em;
  text-align: center;
}

#new-object-grid {
  max-width: 50%;
  width: 50%;
}
.icono {
  width: 2em;
}
.button {
  border-radius: 10px;
  max-height: 3em;
  padding: 5px 10px;
  color: white;
  border: none;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}
.primaryButton:hover {
  background-color: rgb(56, 135, 224);
}

.cell {
  background-color: rgb(202, 240, 255);
  border: 0px solid rgb(199, 225, 255);
  margin: 0.08em;
  color: transparent;
  width: 20px !important;
  height: 20px !important;
}

.available {
  background-color: rgb(202, 240, 255);
}

.unavailable {
  background-color: rgb(1, 91, 133) !important;
}

.walking {
  background-color: rgb(52, 153, 57);
}

.accessibility {
  background-color: rgb(54, 190, 190);
}

.object {
  background-color: rgb(90, 47, 7) !important;
}

.distance {
  background-color: rgb(202, 240, 255);
}

.color-button {
  background-color: transparent;
  border: transparent;
  align-items: center;
}

.color-button div {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.selected-color-button {
  background-color: #aaa;
}

.available-button {
  background-color: rgb(202, 240, 255);
}
.blocked-button {
  background-color: rgb(1, 91, 133);
}
.walking-button {
  background-color: rgb(52, 153, 57);
}
.accessibility-button {
  background-color: rgb(54, 190, 190);
}
.object-button {
  background-color: rgb(90, 47, 7) !important;
}

.cuadrito-label {
  align-items: center;
}

.cuadrito-label div {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-color: transparent;
  border: 1px solid #aaa;
}

.display {
  display: block;
}

.new-object-card {
  text-align: center !important;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  background-color: #f5f5f5;
}

#eliminar {
  float: right;
}
@media only screen and (max-width: 767px) {
  .map {
    max-width: 100vw !important;
    width: 100vw;
  }
}
